

<div class=" container-fluid  fixed-top"  id="container-fluid">
  <nav class="navbar navbar-expand-sm navbar-dark" >
    <a class="navbar-brand" href="#" class="logo"><Span class="mx-5">Calculator</Span></a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        
    </div>
  </nav>
</div>


<app-calculator></app-calculator>

<div class="footer fixed-bottom ">
  <div class="container-fluid  text-center">
      <h5>COPYRIGTH &COPY; 2023 &TechSquare All rigths reserved</h5>
  </div>
</div>